
<div class="a" data-aos="fade-down" data-aos-duration="500">
<p class="aboutus-heading text-center " >We Are Special <br>
  60 Year Continuous Steel Supplies
</p><div class="line"></div></div>


<div class="aboutus container py-4">
  <div class="row py-3 ">
  <div class="col-lg  " data-aos="fade-right" data-aos-duration="2500">
  
    <p>Welcome to Island Trade Center (pvt) Ltd. We are a leading importer and general hardware merchant based in the vibrant city of Colombo, Srilankla.with a rich history and a strong commitment to excellence, we have been serving our customers with top quality products and exceptional service since our establishment. At Island Trade Center, we understand the importance of reliable and durable hardware solutions for both commercial and residential needs. Our extensive range of products caters to a wide array of industries, including construction, manufacturing, engineering, and more. Whether you are a contractor, builder, architect, or do-it-yourself enthusiast, we have everything you need to complete your projects efficiently and effectively. Or dedication to sourcing only the finest products from trusted manufactures worldwide set us apart. 
</p>
  </div>
  <div class="col-lg " data-aos="fade-left" data-aos-duration="1500">
    <img src="/img/aboutusimage1.png" class="img-fluid" alt="">
  </div>
  
  </div>
  <div class="row ">
<div class="col-lg " data-aos="fade-up" data-aos-duration="2500">
  <img src="/img/aboutusimage2.png" class="img-fluid" alt="">
</div>
<div class="col-lg  " data-aos="fade-up" data-aos-duration="2500">
  <p>We prioritize quality and durability, ensuring our customers receive products exceeding their expectations. from hand tools, plumbing supplies to electrical equipment, safety gear to fasteners, and everything in between, we offer a comprehensive selection htat meets the diverse requirements of our customers.   
    As Importers, we have established strong strong relationships with international suppliers, enabling us to access a wide range of products at completive prices. Our team of experienced professionals carefully curates our imventory, ensuring that we offer the latest and most innovative solutions in the market. We stay up-tp-date with industry trends, constantly expanding our product offerings to meet evolving customer needs. Customer satisfaction is at hearth of everthing.  </p>
</div>
  </div>

  </div>
  
</section>
