<section class="container">
<h4 class="py-4 m-0">Quotation</h4>

<div class="row">
<div class="col-8">
     <div class="form-check quotaionbg py-1">
    <input class="form-check-input ms-2" type="checkbox" id="exampleCheckbox1">
    <label class="form-check-label ms-2" for="exampleCheckbox1">
      Select all    
    </label>
</div>


     <div class="form-check quotaionbg py-1  ">
    <input class="form-check-input quotaionmargin ms-2" type="checkbox" id="exampleCheckbox1">
    <label class="form-check-label" for="exampleCheckbox1">
      <div class="cart">
    <div class="row">
        <div class="col ">
    <div class="d-flex container align-items-center ">
<img src="/img/wire.png" class="wishlistimg" alt="">
<p class="m-0 ps-4 ">  Aluminium Chequed Plates 10x10 0.25cm</p>


    </div></div>
    

</div>


</div>  
    </label>
</div>


     <div class="form-check quotaionbg py-1  ">
    <input class="form-check-input quotaionmargin ms-2" type="checkbox" id="exampleCheckbox1">
    <label class="form-check-label" for="exampleCheckbox1">
      <div class="cart">
    <div class="row">
        <div class="col ">
    <div class="d-flex container align-items-center ">
<img src="/img/wire.png" class="wishlistimg" alt="">
<p class="m-0 ps-4 ">  Aluminium Chequed Plates 10x10 0.25cm</p>


    </div></div>
    

</div>


</div>  
    </label>
</div>

     <div class="form-check quotaionbg py-1  ">
    <input class="form-check-input quotaionmargin ms-2" type="checkbox" id="exampleCheckbox1">
    <label class="form-check-label" for="exampleCheckbox1">
      <div class="cart">
    <div class="row">
        <div class="col ">
    <div class="d-flex container align-items-center ">
<img src="/img/wire.png" class="wishlistimg" alt="">
<p class="m-0 ps-4 ">  Aluminium Chequed Plates 10x10 0.25cm</p>


    </div></div>
    

</div>


</div>  
    </label>
</div>
</div>


<div class="col-4">
    <div class="quotaionbg quotationpadding">
<h4 class="text-center">Order Summary</h4>
 <div class="horizontal-line"></div>
<p class="pt-2 ms-2">Items (3)</p>

<button class="buttonquo">Proceed To Checkout (3)</button>
</div>
</div>







</section>