<div class="container">
<h4 class="py-4 m-0">Wishlist</h4>
</div>
<div class=" container border-wishlist">
<div class="cart">
    <div class="row">
        <div class="col">
    <div class="d-flex container align-items-center ">
<img src="/img/wire.png" class="wishlistimg" alt="">
<p class="m-0 ps-4 ">  Aluminium Chequed Plates 10x10 0.25cm</p>


    </div></div>
    
    
    <div class="col ">
        <a href="">
        <div class="cartbg">  
            <img src="/img/cart.png" class="" alt=""></a>
        
        </div>

</div><div class="horizontal-line"></div>

</div>
<div class="cart">
    <div class="row">
        <div class="col">
    <div class="d-flex container align-items-center ">
<img src="/img/wire.png" class="wishlistimg" alt="">
<p class="m-0 ps-4 ">  Aluminium Chequed Plates 10x10 0.25cm</p>


    </div></div>
    <div class="col ">
        <a href="">
        <div class="cartbg">  
            <img src="/img/cart.PNG" class="imageofq" alt=""></a>
        
        </div>

</div>
<div class="horizontal-line"></div>
</div>
<div class="cart">
    <div class="row">
        <div class="col">
    <div class="d-flex container align-items-center ">
<img src="/img/wire.png" class="wishlistimg" alt="">
<p class="m-0 ps-4 ">  Aluminium Chequed Plates 10x10 0.25cm</p>


    </div></div>
    <div class="col ">
        <a href="">
        <div class="cartbg">  
            <img src="/img/cart.png" class="" alt=""></a>
        
        </div>

</div>

</div>
</div>


</div>